ul{
    margin-top: 0px;
    padding-top: 0px;
}
li{
    border-bottom: 1px solid #8eacbb;
    margin-right: 5px;
}
.datos_personales{
    height: 300px;
}
.dato_personal{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.PP{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 30px;
    background-image: url("../img/customer_avatar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.PP2{
    background-color: #fafafa;
    height: 130px;
    display: none;
    background-image: url("../img/customer_avatar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.estado_visita{
    width: 5px;
    height: 16px;
    margin-right: 3px;
}
.pendiente{
    background-color: #8eacbb;
}
.realizada{
    background-color: green;
}
.warning{
    background-color: green;
}
#buscador_clientes{
    width: calc(100% - 10px);
    border: 0px;
    font-size: 1rem;
    padding: 5px;  
}
#buscador_clientes:focus{
    outline-width: 0px; 
}
#liner{
    border-bottom: 1px solid #8eacbb;
    width: 100%;
    height: 2px;
    display: flex;
}
@media only screen and (max-width:479px){
    .PP{
        display: none;
    }
    .PP2{
        display: block;
    }
    .datos_personales{
        height: auto;
    }
} 